.myprofile {
  padding: 90px 0;
  min-height: 100vh;
  font-family: sans-serif;
  background: #f5f8fc;
}

.page-title {
  font-size: 36px;
  margin-bottom: 40px;
  color: #0a1629;
  font-weight: 500;
}

.profile-wrapper {
  display: flex;
  gap: 40px;
  align-items: flex-start;
}

.profile-left {
  width: 280px;
}

.profile-card {
  background: white;
  padding: 30px 25px;
  border-radius: 30px;
}

.profile-card img {
  width: 90px;
  height: 90px;
  border-radius: 50%;
  object-fit: cover;
}

.profile-card h2 {
  margin-top: 15px;
  font-size: 22px;
  color: #0a1629;
  font-weight: 400;
  margin-bottom: 8px;
}

.profile-card-p {
  color: #0a1629;
  font-size: 14px;
  margin-bottom: 35px;
}

.info-list {
  text-align: left;
  margin-top: 35px;
}

.info-item {
  margin-bottom: 24px;
  display: flex;
  flex-direction: column;
  gap: 12px;
}

.info-item span {
  font-size: 15px;
  color: #696969;
}

.info-item input {
  background-color: transparent;
  border: 1px solid #d8e0f0;
  height: 50px;
  border-radius: 14px;
  font-size: 14px;
  color: #7d8592;
  padding: 0 12px;
}

.profile-right {
  display: flex;
  flex-direction: column;
  gap: 25px;
}

.tabs-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 800px;
}

.tabs {
  background-color: #e6edf5;
  padding: 4px;
  border-radius: 30px;
  display: flex;
  width: 400px;
  height: 40px;
  gap: 10px;
}

.tabs button {
  background: transparent;
  border: none;
  padding: 8px 30px;
  border-radius: 20px;
  cursor: pointer;
  font-size: 15px;
  transition: 0.5s;
}

.tabs .active {
  background: #3f8cff;
  color: white;
}

.current-btn {
  background: #ffffff;
  border: none;
  padding: 14px 40px;
  border-radius: 15px;
  cursor: pointer;
  transition: 0.5s;
  font-size: 15px;
  color: #0a1629;
}

.current-btn:hover {
  background: #3f8cff;
  color: white;
}

.project-card {
  background: white;
  border-radius: 20px;
  padding: 10px 25px;
  display: flex;
  gap: 30px;
  align-items: center;
}

.project-main {
  width: 40%;
}

.project-code {
  font-size: 14px;
  color: #91929e;
}

.project-main h3 {
  margin: 6px 0;
  margin-bottom: 25px;
  font-size: 18px;
  color: #0a1629;
}

.project-main-bottom {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.project-main-bottom p {
  font-size: 15px;
  color: #686868;
}

.gorizontal__line {
  width: 2px;
  height: 130px;
  background-color: #e4e6e8;
}

.project-data-card {
  padding: 18px;
  border-radius: 14px;
  width: 25%;
  margin-left: -15px;
  width: 50%;
}

.project-data-card h4 {
  font-size: 17px;
  margin-bottom: 15px;
  font-weight: 600;
  color: #0a1629;
}

.project-data-rows {
  display: flex;
  gap: 70px;
}

.data-row {
  display: flex;
  flex-direction: column;
  margin-top: 8px;
  gap: 10px;
}

.data-row span {
  font-size: 14px;
  color: #91929e;
}

.data-row p {
  font-size: 16px;
  color: #0a1629;
  font-weight: 600;
}

.priority.medium {
  color: orange;
}

.priority.low {
  color: green;
}

.team-grid {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  gap: 30px;
  width: 800px;
}

.team-card {
  background: #ffffff;
  border-radius: 25px;
  padding: 20px 30px;
  text-align: center;
  cursor: pointer;
  box-shadow: 0px 6px 20px 0px #c4cbd61a;
}

.team-card img {
  width: 70px;
  height: 70px;
  border-radius: 50%;
  margin-bottom: 15px;
}

.team-card h3 {
  font-size: 16px;
  color: #0a1629;
  margin-bottom: 6px;
  font-family:
    system-ui,
    -apple-system,
    BlinkMacSystemFont,
    "Segoe UI",
    Roboto,
    Oxygen,
    Ubuntu,
    Cantarell,
    "Open Sans",
    "Helvetica Neue",
    sans-serif;
}

.team-card p {
  font-size: 14px;
  color: #0a1629;
  font-weight: 400;
  margin-bottom: 15px;
}

.level {
  padding: 6px 14px;
  border-radius: 6px;
  cursor: pointer;
  font-size: 13px;
  border: 1px solid #7d8592;
  background: transparent;
  color: #7d8592;
}

.vacation-page {
  width: 800px;
  display: flex;
  flex-direction: column;
  gap: 40px;
}

.vacation-top {
  display: flex;
  gap: 25px;
}

.vacation-top-card {
  background: #ffffff;
  border-radius: 20px;
  padding: 25px;
  display: flex;
  flex-direction: column;
  text-align: left;
  gap: 20px;
  width: 250px;
  box-shadow: 0px 6px 20px 0px #3e3e3e00;
}

.vacation-top-card img {
  width: 65px;
  height: 65px;
  cursor: pointer;
}

.vacation-top-card h4 {
  font-size: 18px;
  color: #0a1629;
  font-weight: 400;
  margin-bottom: 10px;
}

.vacation-top-card p {
  font-size: 14px;
  color: #91929e;
  font-weight: 400;
}

.vacation-title {
  font-size: 20px;
  color: #0a1629;
  font-weight: 600;
}

.vacation-cards {
  display: flex;
  flex-direction: column;
  gap: 22px;
}

.vacation-card {
  background: #ffffff;
  border-radius: 25px;
  padding: 25px 30px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.vacation-card-title span {
  font-size: 14px;
  color: #91929e;
  font-weight: 400;
}

.vacation-card-title h3 {
  font-size: 17px;
  margin-top: 4px;
  color: #0a1629;
  font-family:
    system-ui,
    -apple-system,
    BlinkMacSystemFont,
    "Segoe UI",
    Roboto,
    Oxygen,
    Ubuntu,
    Cantarell,
    "Open Sans",
    "Helvetica Neue",
    sans-serif;
}

.vacation-info {
  display: flex;
  gap: 60px;
}

.vacation-info-item {
  display: flex;
  flex-direction: column;
  gap: 10px;
}

.vacation-info-item span {
  font-size: 14px;
  color: #91929e;
}

.vacation-info-item p {
  font-size: 16px;
  font-weight: 400;
  color: #0a1629;
}

.vacation-btn {
  border: none;
  padding: 10px 25px;
  border-radius: 14px;
  font-size: 14px;
  cursor: pointer;
}

.vacation-btn.pending {
  background: #fdc748;
  color: #ffffff;
}

.vacation-btn.approved {
  background: #00d097;
  color: #ffffff;
}

.modal-overlay {
  position: fixed;
  inset: 0;
  background: rgba(7, 60, 81, 0.2);
  display: flex;
  align-items: center;
  justify-content: center;
  z-index: 999;
}

.modal-card {
  width: 600px;
  background: #ffffff;
  border-radius: 15px;
  padding: 50px;
}

.modal-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.modal-header button {
  background: #f4f9fd;
  border: none;
  width: 38px;
  height: 38px;
  border-radius: 10px;
  cursor: pointer;
  font-size: 17px;
}

.modal-header h3 {
  color: #0a1629;
  font-size: 22px;
  font-weight: 400;
}

.modal-type {
  margin-top: 25px;
  font-size: 14px;
  color: #7d8592;
}

.type-buttons {
  display: flex;
  gap: 12px;
  margin-top: 12px;
}

.type-buttons button {
  padding: 10px 20px;
  border-radius: 8px;
  border: 1px solid #d8e0f0;
  background: #ffff;
  cursor: pointer;
}

.days-hours {
  display: flex;
  background: #e6edf5;
  margin-top: 30px;
  border-radius: 20px;
  overflow: hidden;
  margin-bottom: 20px;
}

.days-hours button {
  flex: 1;
  padding: 11px;
  border: none;
  background: transparent;
  cursor: pointer;
}

.calendar {
  border: 1px solid #d8e0f0;
  border-radius: 8px;
  padding: 30px 35px;
}

.calendar-header {
  text-align: center;
  margin-bottom: 20px;
  font-weight: 500;
  font-size: 18px;
  color: #0a1629;
}

.calendar-days,
.calendar-dates {
  display: grid;
  grid-template-columns: repeat(7, 1fr);
  gap: 10px;
}

.calendar-days span {
  width: 52px;
  height: 28px;
  background-color: #f4f9fd;
  border-radius: 6px;
  font-size: 14px;
  display: flex;
  justify-content: center;
  align-items: center;
  color: #7d8592;
  margin-bottom: 30px;
}

.calendar-dates p {
  height: 36px;
  text-align: center;
  cursor: pointer;
}

.date-active {
  background: #4f7cff;
  color: white;
}

.modal-footer {
  margin-top: 20px;
  text-align: right;
}

.send-btn {
  background: #4f7cff;
  color: white;
  padding: 10px 20px;
  border: none;
  border-radius: 10px;
  cursor: pointer;
}
