* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  text-decoration: none;
  list-style: none;
}

.container {
  padding: 10px 50px;
  margin: 0 auto;
  align-items: center;
  justify-content: space-between;
  display: flex;
  background-color: #f4f9fd;
  height: 100%;
}

body {
  background-color: #f4f9fd;
}
